<footer>
  <ul class="socialmedia">
    <li><a href="https://www.facebook.com/RheinosBonn" target="_blank" title="fb.com/RheinosBonn"><img src="images/facebook.svg" alt="Facebook"></a></li>
    <li><a href="https://www.instagram.com/rheinos_bonn/" target="_blank" title="@rheinos_bonn"><img src="images/instagram.svg" alt="Instagram"></a></li>
  </ul>
  <div class="legal">
    <ul class="legal">
      <li>&copy; Rheinos Bonn e.V.</li>
      <li><a href="/imprint">Impressum</a></li>
    </ul>
    <p>Rheinos Bonn e.V. and its activities are not licensed by, sponsored by or associated with Warner Bros., J.K. Rowling or their affiliates. ‘Quidditch,’ ‘Harry Potter’ and all related names, characters and indicia are trademarks of &copy; Warner Bros. – Harry Potter publishing rights &copy; J.K. Rowling.</p>
  </div>
</footer>
