<header class="{% if page.headerclass %}{{ page.headerclass }}{% endif %}">
  <picture>
    {% if page.headerbg_scalable %}
      {% if page.headerclass != "start" %}
        <source srcset="images/{{ page.headerbg_scalable }}-500px.webp" media="(max-width: 500px)">
      {% endif %}
      <source srcset="images/{{ page.headerbg_scalable }}-1080px.webp" media="(max-width: 1080px)">
      <source srcset="images/{{ page.headerbg_scalable }}-1920px.webp" media="(max-width: 1920px)">
      <source srcset="images/{{ page.headerbg_scalable }}-4096px.webp" media="(max-width: 4096px)">
    {% endif %}
    <img src="images/{% if page.headerbg_scalable %}{{ page.headerbg_scalable }}.webp{% endif %}{% if page.headerbg_static %}{{ page.headerbg_static }}{% endif %}"{% if page.obj_position %} style="object-position: {{ page.obj_position }}{% endif %}">
  </picture>
  <h1>
    {{ page.h1 }}
  </h1>
  <ul class="socialmedia">
    <li><a href="https://www.facebook.com/RheinosBonn" target="_blank" title="fb.com/RheinosBonn"><img src="images/facebook.svg" alt="Facebook"></a></li>
    <li><a href="https://www.instagram.com/rheinos_bonn/" target="_blank" title="@rheinos_bonn"><img src="images/instagram.svg" alt="Instagram"></a></li>
  </ul>
  <div class="photo-credit">
    {% if page.photograph_link %}<a href="{{ page.photograph_link }}" target="_blank">{% endif %}Foto: {{ page.photograph }}{% if page.photograph_link %}</a>{% endif %}
  </div>
</header>
