<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    {% for stylesheet in page.stylesheets %}<link rel="stylesheet" href="{{ stylesheet }}">{% endfor %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link rel="shortcut icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/ee5e4443557da33079a666949dc370c0?s=32" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/ee5e4443557da33079a666949dc370c0?s=32" sizes="16x16">
</head>
