<nav>
  <ul>
    <li class="open-menu" onclick="openMenu()">&#x2261;</li>
    <li class="close-menu" onclick="closeMenu()">&#215;</li>
    <li class="logo"><a href="/">
      <picture>
        <source srcset="images/rheinos-bonn-130px.webp" media="(max-width: 1080px)">
        <source srcset="images/rheinos-bonn-150px.webp" media="(max-width: 1920px)">
        <img src="images/rheinos-bonn-300px.webp" alt="Logo der Rheinos Bonn">
      </picture>
    </a></li>
    <li><a href="/">Home</a></li>
    <li class="drop-down">About us
      <ul class="drop-down">
        <li class="drop-down-item"><a href="/leaders-en">Board and Coaches</a></li>
        <li class="drop-down-item"><a href="/history-en">History</a></li>
        <li class="drop-down-item"><a href="/contact-en">Contact</a></li>
      </ul>
    </li>
    <li class="drop-down">What is Quadball?
      <ul class="drop-down">
        <li class="drop-down-item"><a href="/rules-en">Rules</a></li>
        <li class="drop-down-item"><a href="/genderrule-en">Gender Equality</a></li>
        <li class="drop-down-item"><a href="/competition-en">competition</a></li>
        <li class="drop-down-item"><a href="/quidditch-en">Quadball or Quidditch?</a></li>
      </ul>
    </li>
    <li class="drop-down">Join us!
      <ul class="drop-down">
        <li class="drop-down-item"><a href="/training-en">Training</a></li>
        <li class="drop-down-item"><a href="/join-en">Become a member</a></li>
      </ul>
    </li>
  </ul>
</nav>
