<nav>
  <ul>
    <li class="open-menu" onclick="openMenu()">&#x2261;</li>
    <li class="close-menu" onclick="closeMenu()">&#215;</li>
    <li class="logo"><a href="/">
      <picture>
        <source srcset="images/rheinos-bonn-130px.webp" media="(max-width: 1080px)">
        <source srcset="images/rheinos-bonn-150px.webp" media="(max-width: 1920px)">
        <img src="images/rheinos-bonn-300px.webp" alt="Logo der Rheinos Bonn">
      </picture>
    </a></li>
    <li><a href="/">Start</a></li>
    <li class="drop-down">Über uns
      <ul class="drop-down">
        <li class="drop-down-item"><a href="/leaders">Vorstand und Trainer*innen</a></li>
        <li class="drop-down-item"><a href="/history">Geschichte</a></li>
        <li class="drop-down-item"><a href="/contact">Kontakt</a></li>
        <li class="drop-down-item"><a href="/anniversary">Jubiläum</a></li>
      </ul>
    </li>
    <li class="drop-down">Was ist Quadball?
      <ul class="drop-down">
        <li class="drop-down-item"><a href="/rules">Regeln</a></li>
        <li class="drop-down-item"><a href="/genderrule">Gender Equality</a></li>
        <li class="drop-down-item"><a href="/competition">Wettkämpfe</a></li>
        <li class="drop-down-item"><a href="/quidditch">Quadball oder Quidditch?</a></li>
      </ul>
    </li>
    <li class="drop-down">Mach mit!
      <ul class="drop-down">
        <li class="drop-down-item"><a href="/training">Trainingszeiten</a></li>
        <li class="drop-down-item"><a href="/join">Mitglied werden</a></li>
      </ul>
    </li>
  </ul>
</nav>
