<nav>
  <ul>
    <li class="open-menu" onclick="openMenu()">&#x2261;</li>
    <li class="close-menu" onclick="closeMenu()">&#215;</li>
    <li class="logo"><a href="index.html">
      <picture>
        <source srcset="images/rheinos-bonn-175px.webp" media="(max-width: 1000px)">
        <img src="images/rheinos-bonn-300px.webp">
      </picture>
    </a></li>
    <li><a href="index.html">Start</a></li>
    <li class="drop-down">Über uns
      <ul class="drop-down">
        <li class="drop-down-item"><a href="leaders.html">Vorstand und Trainer*innen</a></li>
        <li class="drop-down-item"><a href="history.html">Geschichte</a></li>
        <li class="drop-down-item"><a href="contact.html">Kontakt</a></li>
      </ul>
    </li>
    <li class="drop-down">Was ist Quidditch?
      <ul class="drop-down">
        <li class="drop-down-item"><a href="rules.html">Regeln</a></li>
        <li class="drop-down-item"><a href="genderrule.html">Gender Equality</a></li>
        <li class="drop-down-item"><a href="competition.html">Wettkämpfe</a></li>
        <li class="drop-down-item"><a href="quadball.html">Quadball</a></li>
      </ul>
    </li>
    <li class="drop-down">Mach mit!
      <ul class="drop-down">
        <li class="drop-down-item"><a href="training.html">Trainingszeiten</a></li>
        <li class="drop-down-item"><a href="join.html">Mitglied werden</a></li>
      </ul>
    </li>
  </ul>
</nav>
