/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

nav {
  background-color: $background-color;
  border-bottom: 1px solid $brand-color;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top: $spacing-unit * 0.5;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 15%);
    text-decoration: underline;
  }
}

/**
 * Links
 */
.pre {
  white-space: pre-wrap;
}
