---
layout: default
title: Vorstand und Trainer*innen
permalink: /leaders

headerclass: standard
headerbg_scalable: lisa4
h1: Vorstand und Trainer*innen
description: Unsere Trainer*innen und unser Vorstand stellen sich vor!
photograph: Lisa Dörner Photography
photograph_link: https://www.instagram.com/lisadoernerphotography/
obj_position: 50% 50%
---

			<div class="wrapper">
				<h2>Lerne unsere Trainer*innen und unseren Vorstand kennen!</h2>
				<p>
					Dafür, dass alles in unserem Verein glatt läuft, sind besonders der Vorstand und die Trainer*innen verantwortlich. Zu ihren Aufgaben zählen beispielsweise das Aufbauen und Pflegen von Verbindungen zu anderen Vereinen, wie dem Deutschen Quadballbund, dem Stadtsportbund Bonn oder anderen Quadballteams in Deutschland und der ganzen Welt.
				</p>
				<section class="introduction">
					<h2>Unsere Trainer*innen</h2>
					<p>
						Die Trainer*innen leiten die Trainingseinheiten, entwerfen Taktiken und planen die Turnierkader.
					</p>
					<article>
						<picture>
							<source srcset="images/Janina.png" media="(max-width: 1080px)">
							<img loading="lazy" src="images/Janina.png" alt="Leander beim Jubeln" style="object-position: 30% 50%">
						</picture>
						<div class="article-content">
							<h3>Janina</h3>
							<p>
								Position: Chaserin<br>
								Pronomen: sie/ihr<br>
								Spielt seit 2021 bei den Rheinos und ist Trainerin seit 2025.
							</p>
						</div>
						<div class="photo-credit">
							<a href="https://www.facebook.com/VanKlaverenQP" target="_blank">Foto: Van Klaveren Quidditch Photography</a>
						</div>
					</article>
					<article>
						<picture>
							<source srcset="images/Jonas2.jpg" media="(max-width: 1080px)">
							<img loading="lazy" src="images/Jonas2.jpg" alt="Bild von jonas" style="object-position: 50% 60%">
						</picture>
						<div class="article-content">
							<h3>Jonas</h3>
							<p>
								Position: Chaser und Keeper<br>
								Pronomen: er/ihm<br>
								Spieler bei den Rheinos seit 2021 und Trainer seit 2025. Seit je her Fan von einer Spiel&shy;weise, die alle einbindet. Urheber teil&shy;weise unnötig komplizierter Pass&shy;übungen. Möchte motivieren, gemeinsam als Team besser zu werden. Negative Ereignisse werden mit einem Schluck Minzsirup wieder ausgeglichen. 
							</p>
						</div>
						<div class="photo-credit">
							<a href="https://www.instagram.com/lisadoernerphotography/" target="_blank">Foto: Lisa Dörner Photography</a>
						</div>
					</article>
						<article>
						<picture>
							<source srcset="images/annika-500px.webp" media="(max-width: 1080px)">
							<source srcset="images/annika-1080px.webp" media="(max-width: 1920px)">
							<source srcset="images/annika-1920px.webp" media="(max-width: 4096px)">
							<img loading="lazy" src="images/annika.webp" alt="Annika als Beaterin">
						</picture>
						<div class="article-content">
							<h3>Annika</h3>
							<p>
								Position: Chaserin und Beaterin<br>
								Pronomen: sie/ihr<br>
								Seit Ende 2022 bin ich Trainerin bei den Rheinos und spiele seit Ende 2020 in Bonn. Be&shy;gonnen habe ich im Sommer 2018 bei den Jupiters Jülich, da ich auch von dort komme. Egal ob als Chaserin, Keeperin oder Beaterin, man hört mich immer - denn zu viel Kommunikation auf dem Spiel&shy;feld gibt es bei mir nicht.
							</p>
						</div>
						<div class="photo-credit">
							<a href="https://www.instagram.com/lisadoernerphotography/" target="_blank">Foto: Lisa Dörner Photography</a>
						</div>
					</article>
					<article>
						<picture>
							<source srcset="images/till-500px.webp" media="(max-width: 1080px)">
							<source srcset="images/till-1080px.webp" media="(max-width: 1920px)">
							<source srcset="images/till-1920px.webp" media="(max-width: 4096px)">
							<img loading="lazy" src="images/till.webp" alt="Till im Nationaltrikot" style="object-position: 50% 75%">
						</picture>
						<div class="article-content">
							<h3>Till</h3>
							<p>
								Position: Beater und Seeker<br>
								Pronomen: er/ihm<br>
								Trainer bei den Rheinos. Hat ein Auge für individuelle Spiel&shy;ent&shy;scheidungen. Fan von Tempo- und Passpiel, aber auch der Kontakt darf nicht fehlen! Neben unserem Sport interessiert an anderen Spiel- und Sport&shy;arten (und was man daraus für Quad&shy;ball lernen kann).
							</p>
						</div>
					</article>
				
				</section>
				<section class="introduction">
					<h2>Der Vorstand</h2>
					<p>
						Der Vorstand repräsentiert die Rheinos nach außen und ist für die Organisation des Vereins zuständig.<br>
						Außerdem ist der Vorstand Ansprechpartner für alles was den Verein betrifft, wie beispielsweise Fragen zur Mitgliedschaft.
					</p>
					{% for person in site.data.vorstand %}
						<article>
							<picture>
								<img loading="lazy" src="{{ person.photo | relative_url }}" alt="Bild von {{ person.firstname }}">
							</picture>
							<div class="article-content">
								<h3>{{ person.firstname }}</h3>
								<p>
									{{ person.function }}<br>
									Position: {{ person.positions }}<br>
									Pronomen: {{ person.pronouns }}<br>
									{{ person.text }}
								</p>
							</div>
							{% if person.photo-credit %}
								<div class="photo-credit">
								{% if person.photo-credit-url %}
									<a href="{{ person.photo-credit-url }}" target="_blank">Foto: {{ person.photo-credit }}</a>
								{% else %}
									Foto: {{ person.photo-credit }}
								{% endif %}
								</div>
							{% endif %}
						</article>
					{% endfor %}
				</section>
			</div>
